# wandb 
wandb/
*.wandb

__pycache__/
*.py[cod]
*$py.class

venv/
env/
.env/
.venv/

# package
*.egg-info/
dist/
build/
eggs/
*.egg

# IDE
.idea/
.vscode/
*.swp
*.swo

# system
.DS_Store
Thumbs.db

# log
*.log

# checkpoints
checkpoints/
checkpoints_level1/
checkpoints_level2/
checkpoints_level3/
*.pth

push_to_hub.py
ksat_2023.py
math_500_split_by_level.py 
merge_ds.py 
plot.py
test_base_model.py 

